.StatField {
	margin-top: 10px;
}

.StatField-input .lucid-RadioButtonLabeled {
	align-items: center;
	margin-right: 20px;
}

.StatField-input .lucid-RadioButtonLabeled-label {
	padding-top: 0;
}

.StatField-cost {
	padding-right: 5px !important;
	text-align: right;
}
