.WrestlerDialog-form .lucid-Grid {
	align-items: center;
}

.WrestlerDialog-form-heading-moves,
.WrestlerDialog-form-heading-stats {
	border-bottom: solid 1px #e3e3e3;
	font-weight: bold;
	margin-top: 10px;
	padding-bottom: 5px;
}

.WrestlerDialog-form-heading-stats {
	margin-top: 20px;
}
