.WrestlersTable {
	display: flex;
	margin: 20px;
}

.WrestlersTable table {
	border-collapse: collapse;
}

.WrestlersTable th,
.WrestlersTable td {
	border: solid 1px #999;
	padding: 10px;
}

.WrestlersTable th {
	background-color: #ccc;
}

.WrestlersTable-wrestler-name div {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.WrestlersTable-edit-link {
	cursor: pointer;
	font-size: small;
	text-decoration: underline;
}
