.WrestlersTable {
	display: flex;
}

.WrestlersTable table {
	border-collapse: collapse;
}

.WrestlersTable th,
.WrestlersTable td {
	border: solid 1px #999;
	padding: 10px;
	text-align: center;
}

.WrestlersTable th {
	background-color: #ccc;
}

.WrestlersTable td:first-child {
	text-align: left;
}

.WrestlersTable-wrestler-name div {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
