.MoveField {
	margin-top: 10px;
}

.MoveField-favorite-label {
	padding-right: 10px !important;
	text-align: right;
}

.MoveField-input .lucid-RadioButtonLabeled {
	align-items: center;
	margin-right: 10px;
}

.MoveField-input .lucid-RadioButtonLabeled-label {
	padding-top: 0;
}
