.WrestlersGrid {
	display: flex;
	margin: 20px;
}

.WrestlersGrid table {
	border-collapse: collapse;
}

.WrestlersGrid th,
.WrestlersGrid td {
	border: solid 1px #999;
	padding: 10px;
}

.WrestlersGrid th {
	background-color: #ccc;
}

.WrestlersGrid-wrestler-name div {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.WrestlersGrid-edit-link {
	cursor: pointer;
	font-size: small;
	text-decoration: underline;
}
